<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-diamond text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
           <a href='/#/rewards'><div class="numbers"> 
              <p class="card-category">Pontos endereço</p>
              <p class="card-title">2
                <p>
            </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-diamond text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
           <a href='/#/rewards'><div class="numbers"> 
              <p class="card-category">Pontos<br>email</p>
              <p class="card-title">2
                <p>
            </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-diamond text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
           <a href='/#/rewards'><div class="numbers"> 
              <p class="card-category">Pontos situação</p>
              <p class="card-title">2
                <p>
            </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-diamond text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
           <a href='/#/rewards'><div class="numbers"> 
              <p class="card-category">Total de pontos</p>
              <p class="card-title">6
                <p>
            </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5>Trocar pontos</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title text-center">Consultorias</h5>
      </div>
      <div class="card-body ">
        <canvas id=chartHours ></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title text-center">E-Books</h5>
      </div>
      <div class="card-body ">
        <canvas id=chartHours></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title text-center">Eventos</h5>
      </div>
      <div class="card-body ">
        <canvas id=chartHours></canvas>
      </div>
    </div>
  </div>
</div>