<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
<!-- 
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li> -->
                <li>
                    <a href="http://blog.creative-tim.com">
                      Documentação
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenças
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
           <a> &copy; {{test | date: 'yyyy'}}, Feito com <i class="fa fa-heart heart"></i> pela Equipe Sirius</a>
        </div>
    </div>
</footer>
