
@{
    ViewBag.Title = "Pontos";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<!--
=========================================================
 Paper Dashboard 2 - v2.0.0
=========================================================

 Product Page: https://www.creative-tim.com/product/paper-dashboard-2
 Copyright 2019 Creative Tim (https://www.creative-tim.com)
 Licensed under MIT (https://github.com/creativetimofficial/paper-dashboard/blob/master/LICENSE)

 Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-diamond text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <a href='/#/rewards'>
                            <div class="numbers">
                                <p class="card-category">Pontos endereço</p>
                                <p class="card-title">70
                                <p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-diamond text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <a href='/#/rewards'>
                            <div class="numbers">
                                <p class="card-category">Pontos email</p>
                                <p class="card-title">60
                                <p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-diamond text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <a href='/#/rewards'>
                            <div class="numbers">
                                <p class="card-category">Pontos situação</p>
                                <p class="card-title">70
                                <p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-diamond text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <a href='/#/rewards'>
                            <div class="numbers">
                                <p class="card-category">Total de pontos</p>
                                <p class="card-title">200
                                <p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>Trocar pontos</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <a href="#"><h5 class="card-title text-center">Consultorias</h5></a>
            </div>
            <div class="card-body ">
                <h4 style="float:right">1000 Pontos</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <a href="#"><h5 class="card-title text-center">E-Books</h5></a>
            </div>
            <div class="card-body ">
                <h4 style="float:right">300 Pontos</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <a href="#"><h5 class="card-title text-center">Eventos</h5></a>
            </div>
            <div class="card-body ">
                <h4 style="float:right">600 Pontos</h4>
            </div>
        </div>
    </div>
</div>